# Environnements
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Packaging
*.egg-info/
dist/
build/

# IDE
.vscode/

# OS
.DS_Store

# Secrets
.env
!.env.example

# Données volumineuses
*.parquet
*.duckdb
*.db

# Modèles entraînés
*.pkl
*.joblib

# Rapports générés
reports/figures/
reports/metrics/